<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ashutoshshrivastava.librarymanagementsystem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SplaashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".powerConnection">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".HomePage"
            android:label="Home"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".SignUpPage" />
        <activity android:name=".IssuedSection" />
        <activity android:name=".ReturnSection" />
        <activity android:name=".RegisterdPeopleSection" />
        <activity android:name=".AccountActivity" />
        <activity android:name=".HelpActicity" />
        <activity android:name=".AddBookToDatabase" />
        <activity android:name=".ReissueSection" />
        <activity android:name=".ForgotPasswordActicity" />
        <activity android:name=".LoginPage" />
        <activity android:name=".IssuedBooks"></activity>
    </application>

</manifest>